.companiesContainer {
    max-width: 700px;
    margin: 0 auto;
}

.tHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.AddButton {
    margin-top: 2rem;
    display: block;
}

.addCompanyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}